.home-container {
  padding: 24px;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.hero-section {
  text-align: center;
  padding: 40px;
  background: linear-gradient(151.71deg, #29c986 0%, #2fc8e5 100%);
  color: white;
  border-radius: 10px;
  margin-bottom: 32px;
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
}

.hero-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.hero-description {
  font-size: 18px;
}

.members-header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.members-header h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
}

.no-posts {
  text-align: center;
  color: #666;
  font-size: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 480px) {
  .users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
  }
}

@media (min-width: 768px) {
  .users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (min-width: 1024px) {
  .users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  }
}

@media (max-width: 480px) {
  .users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }

  .user-card-header {
    flex-direction: column;
  }

  .email-name {
    text-align: center;
  }

  .user-photo {
    margin-right: 0px;
  }

  .user-name {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .user-email {
    font-size: 10px;
  }

  .view-profile-link {
    display: flex;
    justify-content: center;
  }

  .user-card {
    margin: 5px;
  }

  .members-header {
    margin-bottom: 0px;
  }

  .hero-section {
    margin-bottom: 2px;
  }

  .members-header h2 {
    font-size: 12px;
  }

  .hero-section {
    padding: 20px;
  }

  .hero-title {
    font-size: 23px;
  }

  .hero-description {
    font-size: 10px;
  }

  .view-profile-link {
    font-size: 12px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(184px, 1fr));
  }

  .user-name {
    font-size: 1rem;
    font-weight: 700;
  }

  .user-email {
    font-size: 12px;
  }

  .user-card {
    margin: 6px;
  }

  .members-header {
    margin-bottom: 0px;
  }

  .hero-section {
    margin-bottom: 3px;
  }

  .members-header h2 {
    font-size: 17px;
  }

  .hero-section {
    padding: 30px;
  }

  .hero-title {
    font-size: 26px;
  }

  .hero-description {
    font-size: 15px;
  }

  .user-photo {
    width: 47px;
    height: 47px;
  }

  .view-profile-link {
    font-size: 13px;
  }
}

@media (min-width: 1025px) {
}

@media (min-width: 1280px) {
}
